<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
    {{!-- this renders html of the sub template we will pass into this layout template --}}
    {{{body}}}
</body>
</html>