<h1>Todo Tracker</h1>


<form id="new-todo">
	<label for="body">New Todo</label>
	<input type="text" name="body">
	<button type="submit">Save</button>
</form>

<ul class="todo-list">
	{{#each todos}}
	<li>
		<a href="/todos/{{this._id}}">{{this.body}}</a>
		<button id="remove-todo" data-id="{{this._id}}">Remove</button>
	</li>
	{{/each}}
</ul>